{
  "parser": "babel-eslint",
  "extends": ["airbnb", "plugin:jest/recommended"],
  "plugins": ["react", "jsx-a11y", "import", "jest"],
  "rules": {
    "react/prop-types": [2, { "skipUndeclared": true }],
    "import/no-named-as-default": "off"
  },
  "env": {
    "browser": true
  }
}
