@import "../../common/styles/variables.scss";

.find-button {
  padding: 10px 50px;
  background-color: $pink;
  margin-left: auto;
}

.actions {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
