@import "./variables.scss";

:global(.standard-button) {
  border: none;
  background: $gray;
  padding: 5px 12px;
  margin-right: 10px;
  color: #eeeeee;
  text-transform: uppercase;
  border-radius: 3px;
}

:global(.page-wrapper) {
  max-width: 1200px;
  margin: 0 auto;
}

:global(.page-header) {
  color: #eeeeee;
  background-image: url("../../../assets/search_bg.png");
  background-size: cover;
  padding: 1em 2em;
}

:global(.row) {
  display: flex;
  align-items: center;
}
