@import "./common/styles/variables.scss";

html,
body {
  width: 100%;
  height: 100%;
}

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 100%;
  background-color: #eeeeee;
  font-family: "Roboto", sans-serif;
}

:global(.standard-button) {
  border: none;
  background: $gray;
  padding: 5px 12px;
  margin-right: 10px;
  color: #eeeeee;
  text-transform: uppercase;
  border-radius: 3px;
}
