@import "../../../common/styles/variables.scss";

.wrapper {
  display: inline;
  margin-left: auto;
  padding: 1em;

  .sort-type:last-child {
    margin-right: 0;
  }
}

.title {
  margin-right: 1.5em;
  font-weight: 500;
}

.active {
  color: $pink;
}

.sort-type {
  margin: 0 0.5em;
  cursor: pointer;
  font-weight: 500;
  border: 0;
  background: none;
}
