@import "../../../common/variables.scss";

.title {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
}

.search-box {
    box-sizing: border-box;
    width: 100%;
    background: #222222;
    color: #eeeeee;
    border: 0;
    padding: 1em;
    border-bottom: 3px solid $pink;
}
